{% extends 'template.twig' %}
{% block title %}Interface de partie{% endblock %}
{% block script %}<script src="./public/js/Songs.js"></script>{% endblock %}
{% block header %}{% endblock %}
{% block content %}

<div id="songSearch">
	<form action="?action=allsongs" id='songSearchForm' method="post">
			<label for="songTerm">Rechercher un son</label>
			<input type=text name="songTerm" id="songTerm" required>
			<input type="submit" id="searchASong" value="Rechercher">
	</form>

	<div id="resultSongSearch" class='songs'></div>
</div>

		<div id="thematics">
		{% for thematics in thematics %}
		<a href="?action=allsongs&songTerm={{ thematics['name']}}">{{ thematics['name']}}</a>
		{% endfor %}
		</div>

<div id="allSongs">


	{% for allSongs in allSongs %}

	<div class="songs"><div class="songAdd"><h5>{{ allSongs['song_name'] }}</h5>
		{% if allSongs['song_id'] in favSongs %}
			{% if id is not null %}
				<button class="removeSong" id="{{ allSongs['song_id'] }}"></button></div>
			{% endif %}
		{% else %}
			{% if id is not null %}
				<button class="addSong" id="{{ allSongs['song_id'] }}"></button></div>
			{% endif %}
		{% endif %}
		<audio src="public/songs/{{ allSongs['song_access'] }}" controls></audio>
		</div>





{% endfor %}







			<div class="songsInTheme">
		{% for allSongs in allSongs %}
			{% if allSongs['song_principal_theme'] == thematics['thematic_id'] %}
				<div class="songs"><span class="songAdd"><h5>{{ allSongs['song_name'] }}</h5>
					{% if allSongs['song_id'] in favSongs %}
						{% if id is not null %}
							<button class="removeSong" id="{{ allSongs['song_id'] }}"></button></span>
						{% endif %}
					{% else %}
						{% if id is not null %}
							<button class="addSong" id="{{ allSongs['song_id'] }}"></button></span>
						{% endif %}
					{% endif %}
					<audio src="public/songs/{{ allSongs['song_access'] }}" controls></audio>
					</div>
			{% endif %}

{% endfor %}
</div>
</div>


{% if pageNumber != 0 %}
{% for i in 1..pageNumber %}
{% if i == page %}
{{ i }}
{% else %}
<a href="?action=allsongs&page={{ i }}">{{ i}}</a>
{% endif %}
{% endfor %}
{% else %}
<a href="?action=allsongs">Tous les sons</a>
{% endif %}
</div>

{% endblock %}




{% block script_bottom %}

{% endblock %}
