{% extends 'template.twig' %}
{% block title %}Interface de partie{% endblock %}
{% block script %}<script src="public/js/Songs.js"></script>{% endblock %}
{% block header %}{% endblock %}
{% block content %}


<form action="?action=sons" id='songSearchForm' method="post">
		<label for="term">Rechercher un son</label>
		<input type=text name="term" id="term">
		<input type="submit" id="searchASong" value="Rechercher">
		<div id="resultSongSearch"></div>



<p>Ces résultats peuvent être en proche de votre recherche "<b>{{ keyword }}</b>"</p>
<div id="allSongs">


		{% for allSongs in allSongs %}
				<div class="songs"><span class="songAdd"><h5>{{ allSongs['name'] }}</h5>
					{% if allSongs['id'] in favSongs %}
						{% if id is not null %}
							<button class="removeSong" id="{{ allSongs['id'] }}"></button></span>
						{% endif %}
					{% else %}
						{% if id is not null %}
							<button class="addSong" id="{{ allSongs['id'] }}"></button></span>
					  {% endif %}
				{% endif %}
					<audio src="public/songs/{{ allSongs['access'] }}" controls></audio>
					</div>


{% endfor %}
</div>


{% endblock %}




{% block script_bottom %}

{% endblock %}
