{% extends 'template.twig' %}
{% block title %}Interface de partie{% endblock %}
{% block script %}<script src="public/js/Songs.js"></script>{% endblock %}
{% block header %}Ici, plusieurs onglets permettront de passer plus facilement d'une fonctionnalité à l'autre{% endblock %}
{% block content %}

<div id="allSongs">


{% for allSongs in allSongs %}
		<div class="songs">{{ allSongs['name'] }}

{% if allSongs['id'] in favSongs %}
	<audio src="public/songs/{{ allSongs['access'] }}" controls></audio></div>{% if id is not null %}<button class="removeSong" id="{{ allSongs['id'] }}"></button>{% endif %}
{% else %}
		<audio src="public/songs/{{ allSongs['access'] }}" controls></audio></div>{% if id is not null %}<button class="addSong" id="{{ allSongs['id'] }}"></button>{% endif %}
{% endif %}

		{% endfor %}


</div>

{% endblock %}




{% block script_bottom %}
<script>var AllSongs = new AllSongs();</script>
{% endblock %}




